[submodule "submodules/pathogen"]
	path = submodules/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/ctrlp"]
	path = submodules/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "fugitive"]
	path = fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "submodules/fugitive"]
	path = submodules/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-indent-guides"]
	path = submodules/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "submodules/vim-javascript"]
	path = submodules/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "submodules/vim-gitgutter"]
	path = submodules/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "submodules/ceylon-vim"]
	path = submodules/ceylon-vim
	url = git://github.com/lahwran/ceylon-vim.git
[submodule "submodules/dockutil"]
	path = submodules/dockutil
	url = https://github.com/kcrawford/dockutil.git
[submodule "submodules/rust.vim"]
	path = submodules/rust.vim
	url = https://github.com/wting/rust.vim.git
